i {
	margin-right: 20px;
}

nav {
	background-color: #ab47bc;
}

#firstrow {
	margin-top: 10px;
	color: #ab47bc;
}

#submitBtn {
	background-color: #ab47bc;

}

table {
	color: #ab47bc;;
}

#quote {
	color: #ab47bc;
}